body {
  font-family: "Raleway", sans-serif;
  
}


#Hero-Section {
  background-image: url("../img/fondo_c.jpg");
  height: 17cm;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  text-decoration-color: black;
 
}


#Mis-trabajos .image-top {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}


#Contacto form label {
  font-weight: 700;
  color: black;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

.card {
  object-fit: cover;
  max-width: 40rem;
  transition: .2s;
  padding: 2pt;
}
.card img {
  object-fit: cover;
}
.card:hover {
  transform: scale(1.1);
  margin: 3pt;
}